<nav class="w-100">
  <ul>
    <a class="nav-link logo" [routerLink]="['/']"
      ><img
        class="icon-logo"
        src="../../../assets/icons/logo.svg"
      />Contratech</a
    >
    <li
      class="nav-link"
      [routerLink]="['/home']"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </li>
    <li
      class="nav-link"
      [routerLink]="['/obras']"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Minhas obras
    </li>
    <li
      class="nav-link"
      [routerLink]="['/cadastrar']"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Cadastrar
    </li>
  </ul>
  <div class="btn">
    <app-button
      color="btn-login"
      title="Login"
      [routerLink]="['/login']"
    ></app-button>
  </div>
</nav>
<br />
<br />
<br />
