<body>
  <app-header></app-header>
  <div class="container">
    <div class="main">
      <app-breadcrumb
        link="Minhas obras"
        item="Etapas"
        router="/obras"
      ></app-breadcrumb>
      <div class="create-stage" style="padding-bottom: 15px">
        <app-button
          color="primary"
          title="NOVA ETAPA"
          (click)="modalAdd()"
        ></app-button>
      </div>
      <div *ngFor="let stage of listStages">
        <mat-expansion-panel style="margin-bottom: 15px">
          <mat-expansion-panel-header>
            <mat-panel-title >
              <div class="title-stage">{{ stage.nomeEtapa }}</div>
              <div class="options">
                <img
                class="icon-edit"
                src="../../../assets/icons/edit-list.svg"
                (click)="modalRename(stage.id)"
              />
              <img
                src="../../../assets/icons/delete-job.svg"
                class="icon-delete"
                (click)="modalDelete(stage.id)"
              />
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-job [etapaId]="stage.id"></app-job>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
