body {
  background-color: var(--bg-primary);
  background-size: cover;
}

.title-stage {
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.icon-edit, .icon-delete {
  padding: 2px;
  margin-left: 5px !important;
  border: solid 0.1px rgb(230, 230, 230);
  border-radius: 15px;
  cursor: pointer;
}

.icon-edit:hover, .icon-delete:hover {
background-color:rgb(230, 230, 230);
}

.options {
  display: flex;
  align-self: flex-end;
}

::ng-deep .container {
  background-color: var(--bg-primary);
}
