body {
  background-color: var(--bg-primary);
  background-size: cover;
}

mat-card {
  margin: 0 auto;
  max-width: 400px;
  min-height: 450px;
  background-color: var(--secondary);
}

span {
  padding-top: 15px;
}

span,
mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  color: var(--primary);
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.25px;
  margin: 0;
  margin-bottom: 10px;
}

mat-card-footer {
  margin-top: 30px;
}

.primary,
.secondary {
  display: flex;
  justify-content: center;
}

.primary {
  margin-bottom: 10px;
}
.secondary {
  margin-bottom: 30px;
}

/* Deletar os .link*/
.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #ada9a9;
}

.link > a {
  color: var(--primary);
}

.form {
  display:flex;
  justify-content: center;
}

::ng-deep .mat-form-field-infix {
  width: 300px !important;
}

/* Mudando cor do input do material */
::ng-deep .mat-focused .mat-form-field-label {
  color: var(--primary) !important;
}

::ng-deep.mat-form-field-underline {
  background-color: var(--primary) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--primary) !important;
}
