<body>
  <app-header></app-header>

  <br />
  <br />
  <div class="container">
    <div class="main">
      <mat-card>
        <span>
          <img src="../../../assets/icons/login-person.svg" alt="" />
        </span>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm">
          <mat-form-field class="form">
            <mat-label>Login</mat-label>
            <input
              type="text"
              matInput
              formControlName="login"
              placeholder="Digite seu login"
            />
            <mat-error *ngIf="loginForm.get('login')?.hasError('minlength') || loginForm.get('login')?.hasError('maxlength')">
              *O campo Login deve conter entre 6 e 20 caracteres!
            </mat-error>
            <mat-error *ngIf="loginForm.get('login')?.hasError('required')">
              *Campo login está em branco!
             </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="form">
            <mat-label>Senha</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Digite sua senha"
            />
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') || loginForm.get('login')?.hasError('maxlength') ">
              *A senha deve conter entre 6 e 10 caracteres!
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
             *Campo senha está em branco!
            </mat-error>
          </mat-form-field>
        </form>
        <mat-card-footer>
          <app-button
            color="primary-login"
            title="ENTRAR"
            class="primary"
            (click)="login()"
          ></app-button>
          <app-button
            color="primary-login-outline"
            title="CADASTRO"
            class="secondary"
            [routerLink]="['/cadastrar']"
          ></app-button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</body>
