<body>
  <app-header></app-header>
  <div class="container">
    <div class="main">
      <app-breadcrumb
        link=""
        item="Cadastro de usuário"
        router=""
      ></app-breadcrumb>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cadastro de usuário</mat-card-title>
        </mat-card-header>
        <form [formGroup]="registerForm">
          <mat-form-field>
            <mat-label>Login</mat-label>
            <input
              type="text"
              matInput
              formControlName="login"
              placeholder="Digite seu login"
            />
            <mat-error
              *ngIf="
                registerForm.get('login')?.hasError('minlength') ||
                registerForm.get('login')?.hasError('maxlength')
              "
            >
              *O login deve conter entre 10 a 20 caracteres!
            </mat-error>
            <mat-error *ngIf="registerForm.get('login')?.hasError('required')">
              *Campo login está em branco!
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input
              type="text"
              matInput
              formControlName="firstName"
              placeholder="Digite seu login"
            />
            <mat-error
              *ngIf="registerForm.get('firstName')?.hasError('maxlength')"
            >
              *O nome deve conter no máximo 30 caracteres!
            </mat-error>
            <mat-error
              *ngIf="registerForm.get('firstName')?.hasError('required')"
            >
              *Campo nome está em branco!
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Sobrenome</mat-label>
            <input
              type="text"
              matInput
              formControlName="lastName"
              placeholder="Digite seu login"
            />
            <mat-error
              *ngIf="registerForm.get('lastName')?.hasError('maxlength')"
            >
              *O sobrenome deve conter no máximo 30 caracteres!
            </mat-error>
            <mat-error
              *ngIf="registerForm.get('lastName')?.hasError('required')"
            >
              *Campo sobrenome está em branco!
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="Digite seu login"
            />
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
              O campo e-mail está inválido!
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Digite seu login"
            />
            <mat-error
              *ngIf="
                registerForm.get('password')?.hasError('minlength') ||
                registerForm.get('password')?.hasError('maxlength')
              "
            >
              *O senha deve conter entre 6 a 10 caracteres!
            </mat-error>
            <mat-error
              *ngIf="registerForm.get('password')?.hasError('required')"
            >
              *Campo senha está em branco!
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Confirmação de Senha</mat-label>
            <input
              class="w-100"
              type="password"
              matInput
              formControlName="confirmPassword"
              placeholder="Digite seu login"
            />
            <mat-error
              *ngIf="
                registerForm.get('confirmPassword')?.hasError('minlength') ||
                registerForm.get('confirmPassword')?.hasError('maxlength')
              "
            >
              *O senha deve conter entre 6 a 10 caracteres!
            </mat-error>
            <mat-error
              *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
            >
              *Campo senha está em branco!
            </mat-error>
            <mat-error
              *ngIf="
                registerForm
                  .get('confirmPassword')
                  ?.hasError('passwordValidator')
              "
            >
              *Campo senha está em branco!
            </mat-error>
            <mat-error
              *ngIf="
                registerForm.get('confirmPassword')?.value !==
                registerForm.get('password')?.value
              "
            >
              *O campo senha e confirmar senha têm valores diferentes!
            </mat-error>
          </mat-form-field>
          <br />
          <br />
          <app-button
            color="primary"
            title="CADASTRAR"
            class="primary"
            (click)="register()"
          ></app-button>
        </form>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</body>
