<p
  class="msg-table-undefined"
  *ngIf="jobsForm.controls.jobs.controls.length == 0"
>
  Não há nenhum serviço, adicionei um clicando em "Adicionar um novo serviço".
</p>
<div *ngIf="jobsForm.controls.jobs.controls.length != 0">
  <form [formGroup]="jobsForm">
    <div class="divTable greyTable">
      <div class="divTableHeading">
        <div class="divTableRow">
          <div class="divTableHead">Serviço</div>
          <div class="divTableHead" style="text-align: center">Preço</div>
          <div class="divTableHead" style="text-align: center">Quantidade</div>
          <div class="divTableHead" style="text-align: center">Porcentagem</div>
          <div class="divTableHead"></div>
        </div>
      </div>
      <ng-container *ngFor="let jobsGroup of jobsForm.controls.jobs.controls">
        <div class="divTableBody" [formGroup]="jobsGroup">
          <div class="divTableRow">
            <div class="divTableCell" style="padding-top: 10px">
              <p><input type="text" formControlName="nomeServico" /></p>
            </div>
            <div class="divTableCell">
              <p>
                <input
                  type="number"
                  style="text-align: center"
                  formControlName="preco"
                />
              </p>
            </div>
            <div class="divTableCell">
              <p>
                <input
                  type="number"
                  style="text-align: center"
                  formControlName="quantidade"
                />
              </p>
            </div>
            <div class="divTableCell">
              <p>
                <input
                  type="number"
                  style="text-align: center"
                  formControlName="porcentagem"
                />
              </p>
            </div>
            <div class="divTableCell">
              <!-- <object class="delete-icon" data="../../../../assets/icons/delete-job.svg" type=""></object> -->
              <div class="icon">
                <input type="hidden" formControlName="id" />
                <p (click)="deleteJob(jobsGroup.get('id').value)">X</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>
<div class="addJob" (click)="createJob()">Adicionar um novo serviço</div>
<br />
<app-button color="primary" title="SALVAR" (click)="updateAllJobs()"></app-button>
<app-button
  color="danger-outline"
  title="EXCLUIR SERVIÇOS"
  style="padding-left: 10px"
  (click)="deleteAllJob()"
></app-button>

