<!-- <p>job works! {{ etapaId }}</p>
<div *ngFor="let item of listJobs">

</div> -->

<p class="msg-table-undefined" *ngIf="listJobs.length === 0">
  Não há nenhum serviço, adicionei um clicando em "Adicionar um novo serviço".
</p>
<table
  mat-table
  [dataSource]="listJobs"
  class="w-100"
  *ngIf="listJobs.length > 0"
>
  <ng-container matColumnDef="Serviço">
    <th mat-header-cell *matHeaderCellDef>Serviço</th>
    <div class="job">
      <td mat-cell *matCellDef="let a">
        <b><input type="text" value="{{ a.nomeServico }}" /></b>
      </td>
    </div>
  </ng-container>
  <ng-container matColumnDef="Preço">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <div class="job">
      <td mat-cell *matCellDef="let b">
        <input type="number" value="{{ b.preco }}" />
      </td>
    </div>
  </ng-container>
  <ng-container matColumnDef="Quantidade">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">
      Quantidade
    </th>
    <div class="job">
      <td mat-cell *matCellDef="let c" style="text-align: center">
        <input type="number" value="{{ c.quantidade }}" style="text-align: center"/>
      </td>
    </div>
  </ng-container>
  <ng-container matColumnDef="Porcentagem">
    <th mat-header-cell *matHeaderCellDef style="text-align: center">
      Porcentagem
    </th>
    <td mat-cell *matCellDef="let d" style="text-align: center">
      <input type="number" value="{{ d.porcentagem }}" style="text-align: center"/>
    </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef></th>
    <div>
      <td mat-cell *matCellDef="let e" style="padding-top: 3.5px">
        <img
          src="../../../../assets/icons/delete-job.svg"
          class="delete-icon"
          (click)="deleteJob(e.id)"
        />
      </td>
    </div>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let myRowData; columns: columnsToDisplay"
    class="table-row"
  ></tr>
</table>
<div class="addJob" (click)="createJob()">Adicionar um novo serviço</div>
<br />
<app-button color="primary" title="SALVAR"></app-button>
<app-button
  color="danger-outline"
  title="EXCLUIR SERVIÇOS"
  style="padding-left: 10px"
  (click)="deleteAllJob()"
></app-button>
