:root {
  /* Colors */
  --primary: #212121;
  --secondary: #fff;
  --danger: #f44336;

  /* Colors-hover */
  --primary-hover: rgba(33, 33, 33, 0.95);
  --danger-hover: rgba(244, 67, 54, 0.95);

  /* Colors-active */
  --primary-active: rgba(33, 33, 33, 0.75);
  --danger-active: rgba(244, 67, 54, 0.75);

  /* Background-colors */
  --bg-primary: #fdc754;
  --bg-secondary: #fff;
  --bg-breadcrumb: rgba(247, 247, 247, 0.8);
}
